[submodule "sling"]
	path = sling
	url = https://github.com/source-academy/sling.git
[submodule "go_ev3_qrcode_generator"]
	path = go_ev3_qrcode_generator
	url = https://github.com/RichDom2185/go_ev3_qrcode_generator
[submodule "uuidtob62"]
	path = uuidtob62
	url = https://github.com/RichDom2185/uuidtob62.git
[submodule "ev3dev-service-control"]
	path = ev3dev-service-control
	url = https://github.com/RichDom2185/ev3dev-service-control.git
[submodule "pynter"]
	path = pynter
	url = https://github.com/source-academy/pynter.git
